# .env.example
GEMINI_API_KEY=
APP_URL=https://ais-dev-4ot3x7c4dj6zkvh5gwtxww-407634076663.europe-west2.run.app

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDuJn4RU4Bl_2hgNAtRtcDBpe1H7IniZJc
VITE_FIREBASE_AUTH_DOMAIN=bitlisstudyo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bitlisstudyo
VITE_FIREBASE_STORAGE_BUCKET=bitlisstudyo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=767375709026
VITE_FIREBASE_APP_ID=1:767375709026:web:34ac7e14b53fa332ba523b
VITE_FIREBASE_MEASUREMENT_ID=G-QZ3ZP7E4HQ
